.container {
  width: 600px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px 0;
  column-gap: 10px;
  row-gap: 10px;
}

.link {
  text-decoration: none;
}

.element {
  width: 100%;
  height: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #5e6570;
  color: #e3e3dc;
  transition-property: background color;
  transition-duration: 0.5s;
}

.element:hover {
  background-color: #e3e3dc;
  color: #5e6570;
}

.element p {
  margin: 0 0;
  font-size: 19px;
}